.style8 {
	font-family: "Ò¶¸ùÓÑÃ«±ÊÐÐÊé2.0°æ";
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333399;
	cursor: text;
	filter: Gray;
}
