<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
其他用户的笔记
</title>
</head>
<style type="text/css">
body{
	background-position:top;
	background-repeat:no-repeat;
	font-family: "华文行楷";
	font-size:20px;
}
div{
	border:solid;
	
	border-color:#FFFFFF;
}
#a3{
	width:400px;
	margin:10px;
}
#a4{
	width:1000px;
	margin:8px 100px;
}

</style>
<body background="/static/images/timg2.png" width="900" height="1200">
{% if not otherarticle %}
<div id="a3">
<h1>抱歉，这个用户还没有笔记</h1>
<br><br><br>
<a href="/Otheruser?othername={{otherperson}}">返回</a>
</div>
{% else %}
<h2>读书笔记{{otherlength}}篇</h2>
<div id="a4">
<p style="font-style:italic; color:blue;font-size:20px">

<table width="1000">
<tr>
<td width="240">
书籍名称
</td>
<td width="180">
作者
</td>
<td width="280">
笔记标题
</td>
<td width="200">
笔记作者
</td>
</tr>
</table>
</p>
<table width="1000">
{% for i in otherarticle %}
<tr>
<td width="240">
{{i.abookname}}
</td>
<td width="180">
{{i.awriter}}
</td>
<td width="280">
<a href="/Othercontent?id={{i.atitle}}">
   {{i.atitle}}
</a>
</td>
<td width="200">
{{i.aauthor}}
</td>
</tr>
<br><br>
{% if forloop.last %}
<br><br><br><br>
</table>
</div>
<p align="center">
<a href="/Otheruser?othername={{i.aauthor}}">返回</a>
</p>
{% endif %}
{% endfor %}
{% endif %}
<br>
</body>
</html>