<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>收藏笔记界面</title>
<style>
body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
	font-family: "华文行楷";
	font-size:20px;
}
div
{
	border:solid;
	width:650px;
	margin:10px 140px;
	border-color:#FFFFFF;
}
</style>


<body background="/static/images/bg5.png" width="900" height="1200">
<br><br><br>
<div>
<p>
<table width="800">
<tr>
<td width="280">
笔记标题
</td>
<td width="180">
笔记作者
</td>
<td width="180">
书籍作者
</td>
<td width="280">
书籍名称
</td>
</tr>
</table>
</p>
<br>

<table width="800">
<tr>
<td width="280">
{{ starcontent.atitle }}
</td>
<td width="180">

{{starcontent.aauthor}}
</td>
<td width="180">

{{starcontent.awriter}}
</td>
<td width="280">

{{starcontent.abookname}}
</td>
</tr>
</table>
<br><br><br>

</div>
<br>
<div>
<hr width=600 color=#E0E0E0 align="left" noshade="noshade"/>

<p align="center" style="color:#84C1FF"><strong>笔记正文</strong></p>
<br>
{{starcontent.acontent}}

<br>
<br>
<br>
<form name="form1" id="p1" action="/Delstar" method="get" enctype="mime"-->
{% csrf_token %}
<input type="submit" value="取消收藏此笔记" name="submit" >
</form>
<br>
<p align="center">
<a href="/Stararticle?username={{starcontent.aauthor}}"> 返回我的收藏</a>
</p>


</body>


</head>

</html>
