<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索笔记界面</title>
<link href="../../static/css/style2.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	background-image: url(../../static/images/bg5.png);
}
div
{
	border:thin;
}
#a2
{
	width:500px;
	margin:14px 160px;
	padding:30px;
}
</style>

<body class="style2">
<br>
<br>
<br>
<p style="font-style:italic; color:black;font-size:20px">
<table width="800">
<tr>
<td width="280">
笔记标题
</td>
<td width="180">
笔记作者
</td>
<td width="180">
书籍作者
</td>
<td width="280">
书籍名称
</td>
</tr>
</table>
</p>
<table width="800">
<tr>
<td width="280">
{{starusercontent.atitle }}
</td>
<td width="280">
{{starusercontent.aauthor}}
</td>
<td width="280">
{{starusercontent.awriter}}
</td>
<td width="280">
{{starusercontent.abookname}}
</td>
</tr>
</table>
<br>
<br>
<p style="font-style:italic; color:blue;font-size:20px">
<br>
笔记正文
<div id="a2">
 </p>
<br>
<br>
<br>
{{starusercontent.acontent}}
</div>
<br>
<p align="center">
<a href="/Staruserarticle?id={{starusercontent.aauthor}}"> 
返回{{starusercontent.aauthor}}的界面</a>

</p>

</body>


</head>

</html>
