<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>读书笔记上传成功</title>
</head>
<style>
body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
	font-family: "华文行楷";
	font-size:26px;
}
p1 {
	font-family: "华文行楷";
	font-size: 40px;
	font-style: normal;
	alignment-adjust:central
}
ul {
	top: 50px;
	left:50px;
}
</style>
<body background="/static/images/20151026130059_r2juF.thumb.700_0.jpeg">
<p1> 
  <p>&nbsp;</p>
  <p align="center"> 提交成功! </p>
</p1>
<p align="center">
<a href="/Personal">返回我的主页 </a>
</p>

  
  
  
</form>
</body>
</html>

