<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户主页面</title>

<body>
<form>
    <p align="right" size=40>搜索：
    <input type="text" name="bookname" size=30 maxlength="20" required placeholder="请输入笔记的名字">
    </p>
</form>

<br><br>
<p style="font-style:italic; color:blue;font-size:20px">用户姓名:欢迎回来</p>
<br>
<ul><li><a href="http://127.0.0.1:8000/Personalarticle"> 我的读书笔记（笔记数量） </a></li></ul>
<ul><li><a href=""> 我关注的用户(用户数量)</a></li></ul>
<ul><li><a href=""> 我喜欢的笔记（笔记数量） </a></li></ul>
<ul><li><a href="http://127.0.0.1:8000/Article"> 添加新的读书笔记 </a></li></ul>


</body>



</head>

</html>
